body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #F2F2F2; /* shade of light grey */
}

a {
  text-decoration: none; /* removes the underline from all links (<a> elements) */
}

/* Navigation Header */
.header {
  position: fixed; /* make nav header element stay in the same place even if the page is scrolled */
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  font-size: 14px;
  font-weight: 900;
}

.header li {
  display: inline-block; /* set nav header's <li> elements to be in line/next to each other */
  padding: 10px;
}

.header a {
  color: #4A4A4A; /* sets the color of all anchor (<a>) tags within an element with the class 'header' to light grey shade */
}

a.home {
  color: #4D00FF; /* sets the text color of any <a> element with the class 'home' to purple shade */
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Banner section */
.banner {
  margin-top: 74px;
  padding: 40px 0 100px 0;
  background-color: #4D00FF;
}


/* Content section */
.section {
}

#hobbies {
  padding-bottom: 40px;
  color: #717171;
  /* font-family: 'Trebuchet MS', 'Times New Roman', serif; */
}

#about {
  padding-bottom: 40px;
  color: #717171;
  /* font-family: 'Trebuchet MS', 'Times New Roman', serif; */
}

#experience {
  padding-bottom: 40px;
  color: #717171;
  /* font-family: 'Trebuchet MS', 'Times New Roman', serif; */
}
